page-home {

}

.title {
    text-align: center;
    font-size: 30px; 
}
.item {
    display: inline-block;
}
.icon-menu {
    width: 10px;
    height: auto;
}
.bar-buttons-md{
    background: darkgray;
}
.ion-md-menu{
    margin-left: -18px;
    margin-bottom: 2px;
}