$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals";

$colors: (
  primary:    #a79a89,
  secondary:  #d4851e,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

$toolbar-md-background: color($colors, secondary);
$toolbar-md-text-color: color($colors, primary);
$toolbar-md-title-font-size: 40px;
$toolbar-md-title-text-color: color($colors, light);

$tabs-md-background: color($colors, secondary);
$tabs-md-tab-color-active: color($colors, light);
$tabs-md-tab-color: color($colors, light);
$tabs-md-tab-text-color: color($colors, light);

$list-md-background-color: color($colors, light);
$list-md-text-color: color($colors, secondary);

$item-md-body-text-font-size: 100px;

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
